<div class="flex justify-between">
    <div class="font-semibold text-xl mb-4">Prospect Name</div>
    <div class="flex gap-2">
        <p-button label="Back"></p-button>
        <p-button label="Next"></p-button>
        <p-button label="Save"></p-button>
        <p-button label="Cancel"></p-button>
    </div>
</div>
<div class="card">
    <p-stepper [value]="1">
        <p-step-list>
            <p-step [value]="1">Prospect Details</p-step>
            <p-step [value]="2">WC</p-step>
            <p-step [value]="3">Upload Files</p-step>
            <p-step [value]="4">Task / Notes</p-step>
            <p-step [value]="5">Quote</p-step>
            <p-step [value]="6">Proposal</p-step>
            <p-step [value]="7">Final</p-step>
        </p-step-list>
    </p-stepper>
</div>