<div class="card flex gap-3" style="padding: 8px;">
  <p-button label="Show Chart" severity="contrast" icon="pi pi-chart-line" text (click)="addSubmissions()"></p-button>
  <p-button label="New" severity="contrast" icon="pi pi-plus" text></p-button>
  <p-button label="Delete" severity="contrast" icon="pi pi-trash" text></p-button>
  <p-button label="Refresh" severity="contrast" icon="pi pi-refresh" text></p-button>
  <p-button label="Visualize this view" severity="contrast" icon="pi pi-asterisk" text></p-button>
  <p-button label="Email a Link" severity="contrast" icon="pi pi-envelope" text></p-button>
  <p-button label="Flow" severity="contrast" icon="pi pi-arrow-right" text></p-button>
  <p-button label="Run Report" severity="contrast" icon="pi pi-file" text></p-button>
</div>
<div class="card">


  <p-table #dt1 [value]="customers" dataKey="id" [rows]="10"  [showCurrentPageReport]="true" [rowHover]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']" responsiveLayout="scroll">
    <ng-template #caption>
      <div class="flex justify-between items-center flex-col sm:flex-row gap-3">
        <div class="font-semibold text-2xl mb-2">Submission Lists</div>
        <button pButton severity="contrast" label="Clear"  class="ml-auto" icon="pi pi-filter-slash" text></button>
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th> <p-tableCheckbox></p-tableCheckbox></th>
        <th pSortableColumn="title">Requisition Id <p-sortIcon field="title" /></th>
        <th>Project Title</th>
        <th>Requisition By</th>
        <th>Team Name</th>
        <th>Priority</th>
        <th>Requisition Status</th>
        <th>Project Status</th>
        <th>Created On</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr [pSelectableRow]="customer" class="text-gray-800">
        <td>
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </td>
        <td class="py-2 px-4">{{ customer.reqId }}</td>
        <td class="py-2 px-4">{{ customer.title }}</td>
        <td class="py-2 px-4">{{ customer.by }}</td>
        <td class="py-2 px-4">{{ customer.team }}</td>
        <td class="py-2 px-4">{{ customer.priority }}</td>
        <td class="py-2 px-4">{{ customer.status }}</td>
        <td class="py-2 px-4">{{ customer.projectstatus }}</td>
        <td class="py-2 px-4">{{ customer.createdOn }}</td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
    <ng-template #loadingbody>
      <tr>
        <td colspan="8">Loading customers data. Please wait.</td>
      </tr>
    </ng-template>
  </p-table>


</div>