<div class="flex justify-between">
  <div class="font-semibold text-xl mb-4">Submission Lists</div>
  <p-button label="Add New" icon="pi pi-plus" (click)="addSubmissions()"></p-button>
</div>
<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Prospects</p-tab>
      <p-tab value="1">Risk Underwriting</p-tab>
      <p-tab value="2">CSA Sent for Signature</p-tab>
      <p-tab value="3">Sold</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-prospects />
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-risk-underwriting />
      </p-tabpanel>
      <p-tabpanel value="2">
        <app-csa-sents-signature />
      </p-tabpanel>
      <p-tabpanel value="3">
        <app-sold />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>