<div class="flex items-center justify-center min-h-screen bg-surface-50 dark:bg-surface-900">
  <div class="bg-surface-0 dark:bg-surface-800 p-8 rounded-lg shadow-lg w-full max-w-md p-6">
    <h2 class="text-2xl font-bold mb-6 text-center text-surface-950 dark:text-surface-0">Login</h2>

    <div *ngIf="errorMessage" class="text-red-500 mb-4 text-center">
      {{ errorMessage }}
    </div>

    <div class="mb-4">
      <span class="p-float-label">
        <label for="username">Username</label>
        <input id="username" type="text" pInputText [(ngModel)]="username" class="w-full" />
      </span>
    </div>

    <div class="mb-6">
      <span class="p-float-label">
        <label for="password">Password</label>
        <input id="password" type="password" pInputText [(ngModel)]="password" class="w-full" />
      </span>
    </div>

    <button pButton type="button" (click)="login()" label="Login" class="w-full"></button>
  </div>

</div>