.card {
    padding: 12px;
    border: 1px solid var(--surface-border);
    margin-bottom: 1rem;
    border-radius: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.layout-card-filled .card {
    background: var(--surface-card);
}

.layout-card-transparent .card {
    background: white;
}
